.heroImage-container {
  padding: 30px 45px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.ellipse {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-left: auto;
  z-index: -1;
}

.heroImage {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
}
