header {
  max-height: 100%;
  margin: 20px;
}

.navbar {
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 20px;
  margin-right: 80px;
}

header .navbar {
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.hamburger {
  display: none;
  position: absolute;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  list-style-type: none;
  gap: 20px;

}

.resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  padding: 6px 10px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  margin-left: 80px;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  color: var(--primary-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
  transition: background-color 0.3s, color 0.3s;
}

.resume-btn a {
  color: var(--primary-white);
  text-decoration: none;
  font-weight: 800;
  font-size: larger;
}

.resume-btn a:hover {
  color: var(--primary-white);
}

.resume-btn:hover {
  background-color: var(--primary-color-dark);
  color: var(--primary-white);
}

.nav-item {
  position: relative;
  overflow: hidden;
}

.nav-item a:hover {
  color: var(--primary-color);
  transition: background-color 0.3s, color 0.3s;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.nav-item:hover::before {
  transform: scaleX(1);
  background-color: var(--primary-dark);
}

.nav-link {
  color: var(--primary-dark);
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 920px) {
  .hamburger {
    display: block;
    z-index: 10;
  }
  header .navbar {
    justify-content: space-between; /* Align items with space between */
  }
  .title {
    font-size: 1.5rem;
    text-align: center;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    bottom: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
    font-size: 1rem; 
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item a:hover{
    color: var(--primary-white);
  }

 
  .nav-item {
    margin: 1.5rem 0;
    font-size: 1.2rem;
  }
  .nav-link {
    color: var(--primary-white);
  }
  
  .resume-btn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    right: 10px;
  }

  header .navbar {
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .nav-menu {
    bottom:50px;
    font-size: 0.9rem; 
  }

  .nav-item {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
