@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Josefin+Sans&family=Montserrat&family=Raleway&family=Roboto+Slab&family=Roboto:wght@300&family=Russo+One&family=Ysabeau+Infant:wght@300&display=swap');

:root{
  --primary-color: #EDA751;
  --secondary-color: #F8F7F3;
  --primary-dark: #181818;
  --primary-white: #fff;
  --font-color: #676767;
}

*{
  font-family: 'Montserrat'; 
  

}


body{
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: space-between;
}
